
body {
    background: rgba(0,100,0,0.3); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
	
    }

form {
	text-transform: uppercase;
	color: #8B795E;
	font-weight: bold;
}

.container {
	padding:20px;
	text-align:center;
	width: 960px;
	margin:auto;
}

.header {
	color: #191970;
	text-transform: uppercase;
	
	}
	
.button {
	margin: 20px;
	background-color: #8B8970;
	font-weight:bold;
	height:60px;
}
.text {
   font-size: 25px;
   font-family: Arial;
   
   
}

.field {
	font-size: 25px;
	height: 100px;
	width:500px;
}
.comment {
	margin: 5px;
	width: 960px;
	text-transform: none;
	color: darkslategrey;
	font-size: 20px;
	text-align: left;
}
.col {
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
}


