<h3>Register</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="user_login">Login</label>
        <input type="text" id="user_login" name="alias" value="" class="form-control" />
    </div>
    <div class="form-group">
        <p><label for="user_pass">E-mail<br>
                <input class="input" id="email" name="email" size="32"type="email" value="" placeholder="foo@example.com"></label></p>
        <p><label for="user_pass">Password<br>
                <input class="input" id="password" name="password"size="32"   type="password" value=""></label></p>
        <p><label for="user_pass">is_active<br>
                <input type="checkbox" name="is_published" id="is_published" checked="checked" />

        <p class="submit"><input class="button" id="register" name= "register" type="submit" value="Зарегистрироваться"></p>
        <p class="regtext">Уже зарегистрированы? <a href= "/admin/users/login">Введите имя пользователя</a>!</p>
</form>